:root {
  --green: hsl(98, 39%, 42%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(0, 100%, 50%);
  --bg-btn: hsl(355, 80%, 45%);

  --p-10: 0.625rem;
  --p-20: 1.25rem;
  --b-rad: 100vh;
}

/* RESETS */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
/* ------------------------------------------------- */

/* SETUP  */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #141517;
}

.main {
  min-width: 350px;
  background-image: url(./black-hexagon-honeycomb-shape.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;

  /* @media (max-width: 500px) {
    min-width: 412px;
    max-height: 100vh;
  } */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */

  max-width: 65em;
  margin: 0 auto;
  padding: 1rem;
}
/* ------------------------------------------------- */

/* Label */
label {
  margin-left: 1.5rem;
  font-size: 1rem;
  color: var(--white);
}

/* INPUT BAR */
#input-el {
  width: 100%;
  height: 55px;
  padding-inline: var(--p-10);
  margin-bottom: 1rem;
  color: var(--white);
  background-color: rgba(229, 66, 10, 0.25);
  border: 1px solid rgba(229, 66, 10, 0.75);
  border-radius: var(--b-rad);
  font-size: 1.3rem;
  background-image: linear-gradient(
    270deg,
    rgb(220, 255, 145) 42%,
    rgb(101, 247, 189) 62%,
    rgb(0, 195, 255) 80%,
    rgb(141, 155, 248) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------------------------------------------- */

/* Ul, Li, & Link Styles */
#ul-el {
  /* display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr); */
  margin-top: 1.5rem;
  font-size: 0.75rem;
  width: 100%;

  li {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  a {
    align-self: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(
      90deg,
      rgba(141, 155, 248, 0.35) 0%,
      rgba(0, 196, 255, 0.35) 35%,
      rgba(0, 226, 242, 0.35) 61%,
      rgba(101, 247, 188, 0.35) 75%,
      rgba(221, 255, 145, 0.35) 100%
    );
    text-decoration: none;
    color: var(--white);
    overflow: hidden;
    transition: background-image 0.4s ease-in-out;

    &:hover {
      background-image: linear-gradient(
        90deg,
        rgb(141, 155, 248) 0%,
        rgb(0, 195, 255) 35%,
        rgb(0, 226, 242) 61%,
        rgb(101, 247, 189) 75%,
        rgb(220, 255, 145) 100%
      );
      color: var(--black);
    }
  }
}
/* ------------------------------------------------- */

/* Buttons Container */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Main Button Styles */
#input-btn,
#delete-btn,
#tab-btn {
  width: 150px;
  height: 40px;
  padding: var(--p-10) var(--p-20);
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--b-rad);

  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  background-size: 300% 100%;
  color: var(--black);

  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    width: 250px;
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}
/* ------------------------------------------------- */

/*SAVE TAB */
#tab-btn {
  margin-right: 1.2rem;

  /* @media (max-width: 500px) {
    max-width: 150px;
  } */
}

/* #input-btn {
  @media (max-width: 500px) {
    max-width: 150px;
  }
} */

/* #delete-btn {
  @media (max-width: 500px) {
    position: absolute;
    margin-top: 130px;
    margin-bottom: 50px;
  }
} */
/* ------------------------------------------------- */

/* DELETE ALL & REMOVE Button */
#delete-btn,
p {
  margin-left: 1.2rem;
  background-image: none;
  color: var(--white);
  background-color: var(--black);

  /* @media (max-width: 500px) {
    flex-wrap: wrap;
  } */

  &:hover {
    color: var(--black);
    background-color: var(--bg-btn);
    box-shadow: 0 0 10px var(--bg-btn), 0 0 30px var(--bg-btn),
      0 0 60px var(--bg-btn), 0 0 100px var(--bg-btn);
  }
}
/* ------------------------------------------------- */

/* REMOVE Button */
p {
  /* margin-left: 20px; */
  align-self: center;
  justify-self: center;
  padding: 10px 18px;
  border-radius: var(--b-rad);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
